/* navbar */
header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.main {
  position: relative;
  left: -230px;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}

.sub {
  position: relative;
  left: 280px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  font-weight: bold;
  background-color: rgba(225, 225, 225, 1);
  transition: 0.3s;
}

.navbar:hover {
  background-color:tomato;
}

.navbar a {
  color: tomato;
}

.navbar:hover a {
  color: white;
}

.navbar li a:hover {
  background-color: tomato;
  color: rgba(225, 225, 225, 1);
}

.navbar #apply {
  background-color: tomato;
  color: white;
  margin-bottom: 10px;
  padding: 15px 15px;
  border-radius: 10px;
}

.navbar:hover #apply {
  background-color: white;
  color: tomato;
}

.navbar #apply:hover {
  background-color: rgba(225, 225, 225, 1);
  color:tomato;
}

.advocate {
  color: tomato;
}

.advocate .special {
  color: black;
  font-size: 150%;
}


/* flappy bird escape to safety feauture */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

button {
  font-size: 18px;
  padding: 1px;
  margin: 0;
  position: relative;
  height: 50px;
  right: -300px;
  top: -15px;
  background-color: white;
}

.flappy {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* footer  */
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.list-unstyled {
  position: relative;
  left: 20px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  height: 50px;
  background: #55ACEE;
  color: white;
}


