/* navbar */
header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.navbar {
  font-weight: bold;
  background-color: rgba(225, 225, 225, 1);
  transition: 0.3s;
}

.navbar:hover {
  background-color: #FF5400;
}

.navbar a {
  color: #FF5400;
}

.navbar:hover a {
  color: white;
}

.navbar li a:hover {
  background-color: #FF5400;
  color: rgba(225, 225, 225, 1);
}

.navbar #apply {
  background-color: #FF5400;
  color: white;
  margin-top: 10px;
  padding: 5px 45px;
  border-radius: 25%;
}

.navbar:hover #apply {
  background-color: white;
  color: #FF5400;
}

.navbar #apply:hover {
  background-color: rgba(225, 225, 225, 1);
  color: #FF5400;
}

.advocate {
  color: #FF5400;
}

.advocate .special {
  color: black;
  font-size: 150%;
}

/* flappy bird escape to safety feauture */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
} 

button {
  font-size: 18px;
  padding: 1px;
  margin: 0;
  position: relative;
  height: 50px;
  right: -300px;
  top: -15px;
  background-color: white;
}

.flappy {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

