  /* base styles */
  html {
    overflow-x: hidden;
  }

  body {
    font-family:'Roboto', sans-serif;
    color: tomato;
    font-size: 18px;
    overflow-x: hidden;
  }

  h1 {
    color: tomato;
    font-size: 32px;
  } 

  h5 {
    color: tomato;
    font-size: 18px;
  }

  b {
    color: black;
    font-size: 50px;
  }

  button { 
    color: white;
    background-color: tomato;
    border: none;
    width: 120px;
    height: 60px;
    padding: 20px;
    border-radius: 22px;
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    font-size: 18px;
    position: relative;
    top: 10px;
  }

  /* navbar styles */
  .navbar {
    background-color: rgb(238, 237, 237);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
  }

  .navbar > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
  }

  .navbar li {
    padding: 1em;
    justify-items: center;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: -60px;
  }

  /* innovation for society */
  .innovation {
    background-color: rgb(238, 237, 237);
    /* border: solid .5px black; */
    width: 100%;
    height: 800px;
    margin: 10px;
    margin-top: -10px;
  }
  /* placeholder for video */
  .placeholder {
    position: relative;
    left: 4.5%;
  }

  /* equality globally */
  .equality {
    background-color: rgb(255, 245, 239);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    padding-top: 0px;
  }

  .equality-Brightact {
    width: 150px;
    margin: 10px;
    height: 100px;
    position: relative;
    left: 63%;
    top: 40px;
    padding-top: -20px;
  }

  .equality-Brightact h5 {
    font-size: 22px;
    position: relative;
    left: -300px;
    color: tomato;
  }

  .equality-paragraph h1 {
    font-size: 26px;
    margin: 10px;
    padding: 20px;
    position: relative;
    left: 32%;
    top: -45px;
    color: tomato;
    line-height: 40px;
    
  }

  .equality-paragraph b {
    font-size: 39px;
    color: black;
  }

  /* carousel */
  .carousel {
    background-color: rgb(250, 250, 250);
    /* border: solid black .5px; */
    width: 100%;
    height: 800px;
    position: relative;
    margin: 10px;
    top: 30px;
  }

  /* carousel~ slides */
  #slides {
    width: 1000px;
    height: 800px;
    margin: auto;
  }

  .play-slide-indicators {
    z-index: 1;
    height:100%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  }

  .slide-layout {
    position: relative;
    top: -782px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-layout-2 {
    position: relative;
    top: -1048px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .carousel-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    font-size: 20px;
  }

  .slides-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: 1000ms;
    transition: 1000ms;
  }

  .play-slide-show {
    overflow: hidden;
    position: relative;
  }

  .play-next-button, .play-previous-button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .play-next-button {
    right: 1em;
  }

  .play-next-button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 4px solid #eee;
    border-right: 4px solid #eee;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .play-previous-button {
    left: 1em;
  }

  .play-previous-button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 4px solid #eee;
    border-left: 4px solid #eee;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .slide-text a {
    font-size: 22px;
  }

  .slide-text b {
    font-size: 32px;
  }

  /* domestic violence happens to anyone */
  .domestic-violence {
    background-color: rgb(238, 237, 237);
    position: relative;
    top: 5px;
    width: 100%;
    height: 700px;
    padding-top: 20px;
  }

  .domestic-title {
    height: 500px;
    position: relative;
    top: 22%;
    text-align: center;
  }

  .domestic-title a {
    font-size: 88px;
    line-height: 79px;
    text-decoration: none;
    color: tomato;
    line-height: 100px;
    padding-bottom: 80px;
  }
  
  .domestic-subtitle a {
    width: 800px;
    font-size: 19px;
    line-height: 30px;
    position: relative;
    color: tomato;
    text-decoration: none;
    left: 50%;
    top: -9%;
  }

  /* assumptions quiz */
  .quiz {
    background-color: rgb(255, 194, 157);
    width: 100%;
    height: 360px;
  }

  .quiz-title a {
    width: 600px;
    height: 200px;
    color: rgb(4, 4, 92);
    font-size: 28px;
    position: relative;
    left: 17%;
    text-decoration: none;
    top: 65px;
  }
  .quiz-subtitle a {
    color: rgb(4, 4, 92);
    font-size: 20px;
    text-decoration: none;
  }

  .quiz-subtitle  {
    position: relative;
    top: 20%;
    left:17%;
  }

  .quiz-button {
    position: relative;
    left: 15%;
    top: 20%;
  }

  .quiz-button button {
    width: 200px;
    position: relative;
    left: 100px;
    top: 40px;
    font-size: 15px;
  }

  /* get involved */
  .get-involved {
    padding-top: 20px;
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 600px;
  }

  .getinvolved-title {
    width: 880px;
    align-items: center;
    height: 300px;
    position: relative;
    top: 16%;
    left: 25%;
    text-align: center;
  }

  .getinvolved-title a {
    font-size: 66px;
    line-height: 60px;
    text-decoration: none;
    color: tomato;
    line-height: 80px;
  }

  .getinvolved-subtitle {
    width: 900px;
    align-items: center;
    height: 300px;
    text-align: center;
    position: relative;
    top:-105px;
    left: 24%;
    padding-top: 80px;
  }

  .getinvolved-subtitle a {
    font-size: 18px;
    position: relative;
    text-decoration: none;
    color:tomato;
    line-height: 33px;
  }

  .getinvolved-subtitle b {
    font-size: 24px;
  }

  .getinvolved-button button {
    position: relative;
    left: 44%;
    top: -160px;
    width: 200px;
    font-size: 15px;
  }

  /* visualization for abuse percentage */
  .abuse-illustration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(240, 236, 236);
  }

  .ill1 {
    position: relative;
    left: 100px;
  }

  .ill3 {
    position: relative;
    left: -80px;

  }
  .abuse-percentage {
    background-color:rgb(240, 236, 236);
    display: flex;
    flex-direction: row;
    /* border: solid .5px black; */
    width: 100%;
    height: 200px;
  }
  .abuse-1, .abuse-2, .abuse-3 {
    display: flex;
    flex-direction: row;
    width: 500px;
    position: relative;
    left: 10%;

  }
  .abuse-1 h1 {
    color: black;
    font-size: 38px;
    position: relative;
    left: 25%;
    top: 2px;
    text-align: center;
  }

  .abuse-1 h5 {
    color: black;
    font-size: 12px;
    width: 400px;
    position: relative;
    left: -50px;
    top: 110px;
    align-items: center;
    text-align: center;
  }

  .abuse-1 small {
    color: rgb(255, 68, 0);
    position: relative;
    left: -220px;
    top: 210px;
    font-size: 15px;
    width: 300px;
  }

  .abuse-2 h1 {
    color: black;
    font-size: 38px;;
    position: relative;
    left: 23%;
    top: 2px;
    text-align: center;
  }

  .abuse-2 h5 {
    color: black;
    font-size: 12px;
    width: 400px;
    position: relative;
    left: -66px;
    top: 110px;
    align-items: center;
    text-align: center;
  }

  .abuse-2 small {
    color: rgb(255, 68, 0);
    position: relative;
    left: -230px;
    top: 210px;
    font-size: 15px;
    width: 300px;
  }

  .abuse-3 h1 {
    color: black;
    font-size: 38px;
    position: relative;
    left: 36%;
    top: 2px;
    text-align: center;
  }

  .abuse-3 h5 {
    color: black;
    font-size: 12px;
    width: 400px;
    position: relative;
    left: 2px;
    top: 110px;
    align-items: center;
    text-align: center;
  }

  .abuse-3 small {
    color: rgb(255, 68, 0);
    position: relative;
    left: -170px;
    top: 210px;
    font-size: 15px;
    width: 300px;
  }

  /* visualization worldmap  */
  .worldmap {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 600px;
    padding-top: 80px;
  }

  .worldmap h5 {
    position: relative;
    left: 50%;
    top: 50%;
    color: black;

  }

  /* men abuse get involved */
  .men {
    background-color:rgb(255, 245, 239);
    /* border: solid .5px black; */
    width: 100%;
    height: 400px;
    padding-top: 20px;
  }

  .men-img {
    /* border: solid .5px black; */
    position: relative;
    left: 500px;
    width: 300px;
    top: 70px;
  }

  .men h1 {
    width: 550px;
    font-size: 24px;
    position: relative;
    left: 330px;
    top: 40px;
    line-height: 30px;
    word-spacing: 5px;
    padding-top: 70px;
  }

  .men b {
    font-size: 30px;
  }

  .men button {
    position: relative;
    left: 22%;
    top: 80px;
    width: 200px;
    font-size: 15px;
  }

  /* covid19 get involved */
  .covid-19 {
    background-color: rgb(245, 243, 243);
    /* border: solid .5px black; */
    width: 100%;
    height: 900px;
    padding-top: 20px;
  }

  .covid-title { 
    width: 790px;
    text-align: center;
    position: relative;
    top: 60px;
    left: 30%;
    line-height: 55px;
    color: tomato;
  }

  .covid-subtitle {
    padding-top: 40px;
    width: 500px;
    line-height: 40px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 39%;
    color: tomato;
  }

  .covid1 {
    position: relative;
    top: 60px;
    left: 30%;
    width: 300px;
  }

  .covid2 {
    position: relative;
    top: -358px;
    left: 55%;
    width: 300px;
  }

  .covid-19 h1 {
    font-size: 60px;
      color: tomato;
  }

  .covid-19 small {
    font-size: 17px;
  }

  .covid-19 button {
    position: relative;
    left: 45%;
    top: -300px;
    width: 200px;
    font-size: 15px;
  }

  /* visualization for crisis phone calls */
  .hotline-stats {
    background-color: rgb(255, 235, 235);
    /* border: solid .5px black; */
    width: 100%;
    height: 300px;
  }

  /* stats for covid 19 abuse */
  .covid-impact-stats {
    background-color: rgb(235, 235, 235);
    /* border: solid .5px black; */
    width: 100%;
    height: 500px;
  }

  /* eu innovation council recognition */
  .eu-innovation {
    background-color: rgb(235, 235, 235);
    /* border: solid .5px black; */
    width: 100%;
    height: 500px;
    padding-top: 20px;
  } 
  
  .eu-innovation h1 {
    font-size: 38px;
    color: rgb(4, 4, 148);
    width: 770px;
    text-align: center;
    position: relative;
    top: 150px;
    left: 30%;;
    line-height: 50px;
  }