<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Get Involved</title>
        <link rel="stylesheet" href="../static/get-involved.css">
    </head>
    <body>



        <h1>Get Involved</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
            </p>
        <p>
            {{ form.org_name.label }}
            {{ form.org_name }}
            </p>
        <p>
            {{ form.country.label }}
            {{ form.country }}
            </p>
        <p>
            {{ form.role.label }}
            {{ form.role }}
            </p>
        <p>
            {{ form.email.label }}
            {{ form.email }}
            </p>
        <p>
            {{ form.phone.label }}
            {{ form.phone }}
            </p>
        <p>
            {{ form.found.label }}
            {{ form.found }}
            </p>

        <p>
            {{ form.sector.label }}
            {% for option in form.sector %}
                <tr>
                    <td>{{ option }}</td>
                    <td>{{ option.label }}</td>
                </tr>

            {% endfor %}
            </p>
        <p>
            {{ form.reason.label }}
            {% for option in form.reason %}
                <tr>
                    <td>{{ option }}</td>
                    <td>{{ option.label }}</td>
                </tr>

            {% endfor %}
            </p>
        <p>
            {{ form.other.label }}
            {{ form.other }}
            </p>
            <p>
            {{ form.info.label }}
            {% for option in form.info %}
                <tr>
                    <td>{{ option }}</td>
                    <td>{{ option.label }}</td>

                </tr>
            {% endfor %}
            </p>
        <p>
            {{ form.submit }}
        </p>


        </form>
        <!-- Begin experimental code -->
        <input type="button" value="Click to show the form" id="show-button">


          <div id="prompt-form-container">
            <form id="prompt-form">
              <div id="prompt-message"></div>
              <input name="text" type="text">
              <input type="submit" value="Ok">
              <input type="button" name="cancel" value="Cancel">
            </form>
          </div>

          <script>
            // Show a half-transparent DIV to "shadow" the page
            // (the form is not inside, but near it, because it shouldn't be half-transparent)
            function showCover() {
              let coverDiv = document.createElement('div');
              coverDiv.id = 'cover-div';

              // make the page unscrollable while the modal form is open
              document.body.style.overflowY = 'hidden';

              document.body.append(coverDiv);
            }

            function hideCover() {
              document.getElementById('cover-div').remove();
              document.body.style.overflowY = '';
            }

            function showPrompt(text, callback) {
              showCover();
              let form = document.getElementById('prompt-form');
              let container = document.getElementById('prompt-form-container');
              document.getElementById('prompt-message').innerHTML = text;
              form.text.value = '';

              function complete(value) {
                hideCover();
                container.style.display = 'none';
                document.onkeydown = null;
                callback(value);
              }

              form.onsubmit = function() {
                let value = form.text.value;
                if (value == '') return false; // ignore empty submit

                complete(value);
                return false;
              };

              form.cancel.onclick = function() {
                complete(null);
              };

              document.onkeydown = function(e) {
                if (e.key == 'Escape') {
                  complete(null);
                }
              };

              let lastElem = form.elements[form.elements.length - 1];
              let firstElem = form.elements[0];

              lastElem.onkeydown = function(e) {
                if (e.key == 'Tab' && !e.shiftKey) {
                  firstElem.focus();
                  return false;
                }
              };

              firstElem.onkeydown = function(e) {
                if (e.key == 'Tab' && e.shiftKey) {
                  lastElem.focus();
                  return false;
                }
              };

              container.style.display = 'block';
              form.elements.text.focus();
            }

            document.getElementById('show-button').onclick = function() {
              showPrompt("Enter something<br>...smart :)", function(value) {
                alert("You entered: " + value);
              });
            };
          </script>

        <!-- End experimental code -->
    </body>
</html>
