<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Send Message</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/contact_test.css">
    
</head>
  <body>
    <div id="popup-btn">Contact Us</div>
    <!-- <button id="popup-btn">Contact Us</button> -->
    <div id="form-container" class="is-hidden">
      {% if success %}
        <p class="js-success-message">We appreciate you contacting us. Your message has been sent!</p>
      {% else %}
        <form id="contact-form" method="POST">
            <input name="name" type="text" placeholder="Name" required>
            <input name="email" type="email" placeholder="Email" required>
            <input name="subject" type="text" placeholder="Subject">
            <textarea name="message" placeholder="Message"></textarea required>
            <button type="submit" id="form-button">Submit</button>
        </form>

        <div class="loading js-loading is-hidden">
            <div class="loading-spinner">
              <svg><circle cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg>
            </div>
        </div>
      {% endif %}
      
    </div>
    
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script>
      $(function() {
        $('#popup-btn').click(function() {
          $('#form-container').fadeIn();
        })

        $(document).mouseup((e) => {
          var container = $('#form-container');

          if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.fadeOut();
          }
        });

      });

      const form = document.getElementById('contact-form')
      const loading = document.querySelector('.js-loading')
      const successMessage = document.querySelector('.js-success-message')

      form.addEventListener('submit', () => {
        showLoadingIndicator()
      })

      function showLoadingIndicator() {
        form.classList.add('is-hidden')
        loading.classList.remove('is-hidden')
      }

    </script>
    <!-- <script src="../static/js/popup_form.js"></script>       -->
  </body>
</html>