<style>
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px;
  font-size: 20px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;

  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
button.escape-btn {
    position: -webkit-sticky;
    position: sticky;
    top: 10;
    right: 10;
    display: block;
    border: 3px solid rounded shadow;
    text-align: right;
    padding: 10px;
    margin: 10px;
    font-size: 20px;

}
</style>
<script>
alert('Internet usage can be monitored and is impossible to erase completely. Remember to clear your browser history. If you need to leave this website quickly, click on the Play Flappy Bird button.');
</script>

    <div class="sticky text-right">
        <button class="btn escape-btn text-danger">
                <a href="https://flappybird.io" class="text-dark">Play Flappy Bird</a>
        </button>
    </div>
