<style>
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: red;
  padding: 10px;
  font-size: 20px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 10%; /* Full width (cover the whole page) */
  height: 10%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;

  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
</style>
<script>
alert('Internet usage can be monitored and is impossible to erase completely. Remember to clear your browser history. If you need to leave this website quickly, click on the Play Flappy Bird button.');
</script>
<div class="sticky">
    <h3 class="text-right">
        <button type="button" class="btn-light text-white">
        <a href="https://flappybird.io">Play Flappy Bird</a>
        </button>
    </h3>
</div>
