<!-- Footer -->
<!-- Custom CSS -->
<link href="../static/css/footer.css" rel="stylesheet">
<!-- Social Media Sharing JavaScripts -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="FEBq6AyT">
</script>

<footer class='page-footer font-small blue pt-4'>
    <div class='container-fluid text-center'>
         <div class='row'>
         <hr class='clearfix w-100 d-md-none pb-3'>
         <div class='col-md-6 mb-md-0 mb-3'>
             <h5 class='text-uppercase'>Links</h5>
             <ul class='list-unstyled'>
                 <li><a href='#!'>Link 1</a></li>
                 <li><a href='#!'>Link 2</a></li>
                 <li><a href='#!'>Link 3</a></li>
                 <li>
                     <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-related="BrightAct_EU,https://twitter.com/sofie_wahlstrom" data-show-count="false">
                         Tweet
                     </a>
                     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                     </script>
                 </li>
             </ul>
         </div>
         <div class='col-md-6 mb-md-0 mb-3'>
             <h5 class='text-uppercase'>Links</h5>
             <ul class='list-unstyled'>
                 <li><a href='#!'>Link 1</a></li>
                 <li><a href='#!'>Link 2</a></li>
                 <li><a href='#!'>Link 3</a></li>
                 <li>
                     <div class="fb-share-button" data-href="https://brightact.org" data-layout="button" data-size="small">
                         <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbrightact.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                             Share
                         </a>
                     </div>
                 </li>
             </ul>
         </div>
         </div>
    </div>
    <div class='footer-copyright text-center py-3'>© 2020 Copyright:
       <a href='https://brightact.org'> BrightAct.org</a>
       <p>BRIGHTACT, 7 JÄRNVÄGSGATAN, HELSINGBORG, SKÅNE LÄN, 252 24, SWEDENSOFIE@BRIGHTACT.ORG</p>
    </div>
</footer>
