<html lang="en">
    <head>
        <title>Get Involved</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/getinvolved2.css">
    </head>
    <body>



        <h1>Get Involved</h1>


        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Get Started!</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

         <!-- Modal content -->
         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Some text in the Modal..</p>
         </div>

        </div>
        <script src="../static/js/getinvolved2.js"></script>

    </body>
</html>
