
<div class="container" id="animation-logo">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="../static/img/BAlogo.png">
            <br>
            <h2>
                <a href="about.html">About Us</a>
            </h2>
        </div>
    <!-- </div> -->
<!-- </div>
<div class="container" id="navigation">
    <div class="row">
        <div class="col-xs-12 text-center">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <!-- future navigation links here -->
            <!-- </ul>
        </div> -->
    </div> -->
</div>
