<div class="container">
     <div class="row">
         <div class="col-xs-12 text-center">
             <img src="../static/img/BAlogo.png">
         </div>
    </div>
    <div class="row text-center">
        <!-- Contact Form Link -->
        <button class="btn btn-secondary rounded shadow">
            <a href="{{ url_for('contact_page') }}">Contact</a>
        </button>
        <!-- Get Involved Link -->
        <button class="btn btn-secondary rounded shadow">
            <a href="{{ url_for('get_involved') }}">Get Involved</a>
        </button>
    </div>
 </div>
