<!DOCTYPE html>
<html>
<head>
  <style>
    /* base styles */
    body {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: tomato;
      font-size: 18px;
    }
   /* navbar styles */
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .navbar > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
    }

    .navbar li {
      padding: 1em;
    }
  </style>

</head>
<body>
  <div class="navbar">
    <h1>BrightAct</h1>
   <ul>
     <li>About</li>
     <li>Changemakers</li>
     <li>Product</li>
     <li>Updates</li>
     <li>Apply</li>
   </ul>
  </div>
  <!-- innovation for society -->
  <div class="innovation">

  </div>

  <!-- equality globally -->
  <div class="equality">

  </div>
  
  <div class="about-us">

  </div>
  <div class="domestic-violence">

  </div>
  <div class="quiz">

  </div>
  <div class="get-involved">
    
  </div>
  <div class="worldmap">
    
  </div>
  <div class="men">
    
  </div>
  <div class="covid-19">
    
  </div>
</body>
</html>
