<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Form To Google Sheets Demo</title>
  <meta name="description" content="Store HTML form submissions in Google Sheets">
  <link href="./favicon.png" rel="shortcut icon">

  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://unpkg.com/prefixfree@1.0.0/prefixfree.min.js"></script>

  <script src="https://wzrd.in/standalone/formdata-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script>
</head>
<body> 

  <div id="test-form" class="form-container">
    <form name="brightact-get-involved-form">
      <input name="email" type="email" placeholder="Email" required>
      <input name="firstName" type="text" placeholder="First Name">
      <input name="lastName" type="text" placeholder="Last Name">
      <button type="submit">Subscribe</button>
    </form>

    <div class="loading js-loading is-hidden">
      <div class="loading-spinner">
        <svg><circle cx="25" cy="25" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg>
      </div>
    </div>

    <p class="js-success-message is-hidden">Success!</p>
    <p class="js-error-message is-hidden">Error!</p>
  </div>

  <a href="https://docs.google.com/spreadsheets/d/1ZPxbSLG8z2Jj-HW5zBGpLuLT4pewoklGyoAkOTTXcBE/edit?usp=sharing" target="_blank">View the Google Sheet</a>

  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbyeHW_N7ECGWuHb0CB5TBNICs_zy_O8KIeLwVuvBnBPEXZo6FE/exec'
    const form = document.forms['brightact-get-involved-form']
    const loading = document.querySelector('.js-loading')
    const successMessage = document.querySelector('.js-success-message')
    const errorMessage = document.querySelector('.js-error-message')

    form.addEventListener('submit', e => {
      e.preventDefault()
      showLoadingIndicator()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => showSuccessMessage(response))
        .catch(error => showErrorMessage(error))
    })

    function showLoadingIndicator () {
      form.classList.add('is-hidden')
      loading.classList.remove('is-hidden')
    }

    function showSuccessMessage (response) {
      console.log('Success!', response)
      setTimeout(() => {
        successMessage.classList.remove('is-hidden')
        loading.classList.add('is-hidden')
      }, 500)
    }

    function showErrorMessage (error) {
      console.error('Error!', error.message)
      setTimeout(() => {
        errorMessage.classList.remove('is-hidden')
        loading.classList.add('is-hidden')
      }, 500)
    }
  </script>
  <!-- <script src="../static/js/app.js"></script> -->
</body>
</html> 
<!-- <!DOCTYPE html>
<head></head>
<body>
  <form id="test-form">
  
    <div>
      <label>Field 1</label>
      <input type="text" name="form_field_1" placeholder="Field 1"/>
    </div>
  
    <div>
      <label>Field 2</label>
      <input type="text" name="form_field_2" placeholder="Field 2"/>
    </div>
    
    <div>
      <label>Field 3</label>
      <input type="text" name="form_field_3" placeholder="Field 3"/>
    </div>
    
    <div>
      <label>Field 4</label>
      <input type="text" name="form_field_4" placeholder="Field 4"/>
    </div>
  
    <div>
      <button type="submit"id="submit-form">Submit</button>
    </div>
    <script src="../static/js/app.js"></script>
  </form>
</body>
</html> -->